
* {
  box-sizing: border-box;
}

#Wdp {
  margin: 0 auto;
}
.row {
  margin-right: 0px;
}
#ts1, #ts2, #ts3, #ts4, #ts5, #ts6, #ts7, #ts8, #ts9 {
  width: 100%;
  height: auto;
  margin-right: 0px;
  padding: 0px;
  background-color: mediumaquamarine;
  color: black;
  text-align: center;
  flex-direction: column;
	align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px;
  border-bottom: 1px;
  border-top-color: rgb(51, 2, 2);
  border-bottom-color: rgb(51, 2, 2);
}

#myInput {
  height: auto;
  padding: 0px;
  margin-right: 0px;

}
header {
  border-bottom: groove;
  border-width: 5px;
  margin-bottom: 20px;
}

h1 {
  font-weight: bold;
  font-family: fondamento; cursive;
  
}

p {
  font-family: fondamento;
}

